html {
    position: relative;
    min-height: 100%
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #2e3234;
    padding: 25px 0 20px
}
body {
    margin-bottom: 130px;
    padding-top: 110px
}
.bemvindo {
    background: #e7e7e7;
    padding: 7px 20px 7px 0
}
.white {
    color: #fff
}
.mod-nav {
    background: #fff;
    padding: 0 0 20px
}
.mod-nav-r {
    margin-right: 0
}
.bg-sgcvs {
    background: url(../images/banner.jpg) center center no-repeat #fff;
    padding: 30px 0
}
.align-right {
    text-align: right;
    display: block
}
.p-t1 {
    padding-top: 20px;
    display: block
}
.p-t2 {
    padding: 0 3%
}
.p-t3 {
    padding-bottom: 15px
}
.p-t4 {
    padding-right: 15px
}
.p-t5 {
    margin-top: 17px
}
.p-t6 {
    margin-left: 15px
}
.p-t7 {
    padding-top: 25px
}
.p-t8 {
    padding: 10px;
    list-style: inside
}
ul.lista-op li,
ul.lista-status li {
    list-style: none;
    float: left;
    margin-right: 5px
}
.pad0 {
    padding-top: 0;
    padding-right: 0
}
.m40 {
    margin-top: 40px
}
.opcoes {
    width: 4%
}
.status {
    width: 5%
}
.status2 {
    width: 15%
}
.bg-footer {
    background: url(../images/footer.jpg) center bottom no-repeat
}
.bar-vert {
    border-left: solid 1px #ccc
}
#navbar a.novo {
    color: #fff;
    display: block;
    background: #337ab7;
    border: 1px solid #337ab7;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}
#navbar a.novo:hover {
    background: #fff;
    color: #337ab7
}
.select-programacao {
    width: 100%;
    font-size: 12px;
    padding: 0
}
.m-01 {
    margin-top: 30px
}
.red {
    color: red
}
span.alert.alert-danger,
span.alert.alert-info,
span.alert.alert-success,
span.alert.alert-warning {
    padding: 5px;
    margin-top: 20px;
    display: inline-block
}
.uppercase,
.uppercase input,
.uppercase textarea {
    text-transform: uppercase
}
.lowercase {
    text-transform: lowercase
}
.font-l {
    font-weight: 300
}
.border-right-n {
    border-right: none
}
.nopad {
    padding-top: 0;
    margin-top: 0
}
ul.lista-status {
    padding: 0;
    margin-top: 7px
}
ul.lista-status li:after {
    content: ","
}
ul.lista-status li:last-child:after {
    content: "."
}
ul.lista-op {
    padding: 0;
    margin-top: 0
}
ul.lista-op li:after {
    content: ","
}
ul.lista-op li:last-child:after {
    content: "."
}
.over-n {
    overflow: visible
}
#DataTables_Table_0_filter input[type=search],
#lista-sql_filter input[type=search] {
    width: 450px
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto
}
.form-signin .checkbox,
.form-signin .form-signin-heading {
    margin-bottom: 10px
}
.form-signin .checkbox {
    font-weight: 400
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px
}
.form-signin .form-control:focus {
    z-index: 2
}
.form-signin input[type=text] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}
.form-signin input[type=password] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}
.center {
    text-align: center;
    vertical-align: middle
}
.expand-transition {
    transition: all .3s ease;
    overflow: hidden
}
.expand-enter,
.expand-leave {
    height: 0;
    padding: 0 10px;
    opacity: 0
}
.navbar {
    z-index: 9999
}
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: url(/assets/images/loading.gif) center no-repeat rgba(255, 255, 255, 1)
}

.selectNegrito {
    font-weight: bold;
    color: #ff9999;
}

/* espaçamento itens li a do menu*/
.nav li a {
    padding: 10px 12px;
}